<!-- Footer -->

<hr>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Content -->
          <ul class="list-inline text-center">
            {% if site.twitter_username %}
            <li class="list-inline-item">
              <a href="https://www.twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li class="list-inline-item">
              <a href="https://www.facebook.com/{{ site.facebook_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Content -->
          <img src="/img/U.Lib_UW_Research.Com_k.png" alt="University of Washington Libraries Logo">
        </div>
    <!-- Grid column -->
    <div class="col-md-3 mx-auto">
          <!-- Content -->
          <img src="/img/dsf_podclear.png" width="125px;" alt="Digital Storytelling Fellows Podcasting logo">
        </div>
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Copyright -->
          <p class="copyright text-muted">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            {{ site.author }} {{ 'now' | date: "%Y" }}</p>
          <!-- Copyright -->
        </div>

</div>
</div>
    <!-- Footer Text -->



  </footer>
  <!-- Footer -->
