---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

                          <p><b>Did you hear that?</b> In a world where everyone interacts with digital media, podcasting is one of the more ubiquitous and longstanding forms of digital scholarship. But podcasting is so much more than a recorded broadcast. It is a compendium of stories and voices often told by individuals within the community.</p>

                          <p>Podcasting is personal and personalized. Need to find a comedic podcast about obsessive eating and discussions of race, culture and body image? <a href="http://www.sporkful.com/">The Sporkful</a> might be for you. What about a political podcast hosted by a U.S. Attorney fired by the Trump Administration who talks about fairness and justice in the American legal system? <a href="https://www.wnycstudios.org/shows/preetbharara">Stay Tuned with Pree</a> might be for you. Or how about a podcast show from a fictional town wherein strange events occur, possibly involving mysterious private corperations? <a href="http://www.welcometonightvale.com/">Welcome to Night Vale</a> could be perfect for the bus ride home.</p>

                          <p>No matter what the reason may be, podcasting is here...and everyone is doing it. <em>And you could be doing it, too.</em></p>
                          <p>The University of Washington Libraries hosts a new workshop for UW graduate students on the <em>basics of storytelling for the podcasting platform.</em></p>
                          <p>In this course, you can expect to:</p>

                          <p class="tab">Produce a short 3-5 minute podcast segment by recording, editing, reviewing, transcribing, and reflecting on your work.</p>

                          <p class="tab">Identify a number of tools, platforms, and strategies for developing and hosting a podcast.</p>
                          <p class="tab">Learn and practice strategies and best practices for interviewing and recording.</p>
                          <p>Overall, the purpose of this workshop is to expand the boundaries of digital scholarship and digital storytelling by exploring new genres and platforms. This workshop will extend opportunities to graduate students to generate digital scholarship through the development of non-curricular products and build skills through partnerships with the UW Libraries.</p>

                          <p><b>Let's listen and learn together.</b> </p>

                          <p>The UW Libraries Digital Storytelling Teaching Team</p>

                        </div>
                      </div>
                  </div>
              </div>

        <!-- Home Post List -->
        {% for post in site.posts limit : 0 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }}</p>
          </article>

          <hr>

        {% endfor %}



      </div>
    </div>
  </div>
